#hmc-popup {
    display: grid;

    width: 250px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#hmc-fechas {
    display: grid;
    grid-template-columns: minmax(100px, 25%) 1fr;
    place-items: center;
}

.hmc-radio{
    display: grid;
    grid-template-columns: minmax(100px, 50%) 1fr;
    place-items: center;
}

#hmc-hack-btn {
    border-radius: 40px;
    background-color: #0075a8;
    padding: 10px 20px;
    transition: color 350ms ease, background-color 300ms ease;
    color: #14142b;
    /* line-height: 20px; */
    font-weight: 600;
    text-align: center;
    margin: 10px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
}

#hmc-fechas-btn:hover {
    background-color: #14142b;
}

#hmc-message {
    display: flex;
    width: auto;
}

.message-error {
    color: #ff0000;
}

.hmc-title {
    place-items: left !important;
    font-weight: bold;
}